@import "../constants/gutters.scss";
@import "../constants/color.scss";
@import "../constants/sizing.scss";

.content {
  &-primary {
    padding: 0 16px;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  &--desktop {
    width: 100%;
    max-width: $maxContentWidth;
    min-width: auto;
    margin: -8px auto 0;
  }

  &--mobile {
    width: 100%;
    max-width: max-content;
    min-width: auto;
    margin: -8px 30px 0 -30px;
  }
}

.header {
}

.routerContent {
  min-height: auto;
  max-height: auto;
  height: auto;
}

.footer {
  margin-top: $mainGutter;
  position: relative;
}
