@import "../constants/gutters.scss";
@import "../constants/color.scss";
@import "../constants/sizing.scss";

.content {
  display: flex;
  margin: -8px auto 0;
  padding: 0 16px;
  width: $maxContentWidth;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header {
}

.routerContent {
  min-height: auto;
  max-height: auto;
  height: auto;
}

.footer {
  margin-top: $mainGutter;
  position: relative;
}
