@import "../../../../constants/color.scss";
@import "../../../../constants/gutters.scss";
@import "../../../../constants/sizing.scss";

.flex {
  display: flex;
}

.mainSection {
  flex-flow: column nowrap;
  background-color: $white;
}
