<div class="flex mainSection">
  <div class="flex sectionHeader">
    <app-sectionheader
      fontSize="large"
      featureStyle="redTheme"
      textStyle="redTheme"
      [titleText]="categoryName"
    >
    </app-sectionheader>
    <span class="numberOfProducts">{{ totalNumberOfProducts }} items</span>
  </div>
  <div class="showProducts" (scroll)="scrollDetect($event)">
    <div class="productTile" *ngFor="let product of productData">
      <div class="productTileDivder" name="lineDivider"></div>
      <app-product-showcase [productData]="product"></app-product-showcase>
    </div>
  </div>
</div>
