@import "../../../../constants/color.scss";
@import "../../../../constants/gutters.scss";
@import "../../../../constants/sizing.scss";

$imageWidth: 400px;
$imageHeight: 300px;

.hottestDealDisplayBox {
  &-primary {
      background-color: $white;
  }

  &--desktop {
    width: 900px;
    height: 800px;
    max-width: 900px;
    max-height: 800px;
  }

  &--mobile {
    width: auto;
    height: auto;
    max-width: auto;
    max-height: auto;
  }
}

.mainSection {
  &-primary {
    margin-top: 20px;
    padding-top: 20px;
    flex-flow: column nowrap;
    align-content: space-between;
  }

  &--desktop {
    padding-left: $doubleGutter*3;

  }

  &--mobile {
    padding-left: $halfGutter;
  }
}

.hottestProduct {
  flex-flow: column nowrap;
}

.reviews {
  color: $secondary;
}

.imageSize {
  display: block;
  max-width: $imageWidth;
  max-height: $imageHeight;
  width: auto;
  height: auto;
  margin: 10px;
}

.hottestDealDisplay {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonSection {
  position: relative;
}

.productName {
  color: black;
  font-size: large;
  padding-top: $mainGutter;
  padding-bottom: $halfGutter;
  height: fit-content;
}

.mainPriceSection {
  padding-top: $mainGutter;
}

.mainPrice {
  font-size: 50pt;
  color: $secondary;
}

.savings {
  flex-flow: column nowrap;
  padding-left: $halfGutter;
  padding-top: $mainGutter+10px;
}

.savedMoney {
  font-size: small;
  color: black;
}

.wasThis {
  font-size: small;
  color: $primaryLight;
}
