<div *ngIf="productData !== undefined" class="flex productMain">
  <div class="flex leftSideBox">
    <div class="flex carousel">
      <section class="flex slideSection">
        <div
          class="slide hideImage"
          *ngFor="let image of productData.images; let i = index"
        >
          <img
            class="leftSideImage"
            src="{{ image.href }}"
            alt="{{ image.rel }}"
          />
        </div>
      </section>
    </div>
    <div class="imageControls">
      <app-angle-left-icon
        iconSize="5x"
        (click)="nextSlide(-1)"
      ></app-angle-left-icon>
      <app-angle-right-icon
        iconSize="5x"
        (click)="nextSlide(1)"
      ></app-angle-right-icon>
    </div>
  </div>
  <div class="rightSideData">
    <span class="headerName">{{ productData.name }}</span>
    <div class="flex dataSection">
      <span class="model">Model: {{ productData.modelNumber }}</span>
      <span>SKU: {{ productData.sku }}</span>
    </div>
    <div class="flex reviews">
      <app-product-ratings
        class="customerAverage"
        [productRating]="productData.customerReviewAverage"
      ></app-product-ratings>
      <span>
        {{ productData.customerReviewAverage }}({{
          productData.customerReviewCount
        }})
      </span>
    </div>
    <div class="productDescription">
      {{ productData.longDescription }}{{ productData.longDescription }}
    </div>
    <div class="productSalePrice">{{ productData.salePrice | currency }}</div>
    <div>
      <span class="savings"
        >save
        {{ productData.regularPrice - productData.salePrice | currency }}</span
      >
      <span class="regularPrice"
        >was {{ productData.regularPrice | currency }}</span
      >
    </div>
    <div class="mainGutterDrop flex addToButtons">
      <app-button
        buttonTextCase="upper"
        buttonClass="ovalRedText"
        buttonText="ADD TO CART"
        routerLink="false"
        (click)="addSaveTo('shoppingCartItems', productData.sku)"
      ></app-button>
      <app-button
        buttonTextCase="upper"
        buttonClass="ovalRedText"
        buttonText="add to favorite"
        routerLink="false"
        (click)="addSaveTo('saveItem', productData.sku)"
      ></app-button>
    </div>
  </div>
</div>
