@import "../../../../constants/color.scss";
@import "../../../../constants/sizing.scss";
@import "../../../../constants/gutters.scss";

$mainBoxWidth: $maxPageWidth - $mainGutter;
$halfMain: $mainBoxWidth / 2;
$leftSideHeight: 540px;

.productMain {
  position: relative;
  width: $mainBoxWidth;
  height: 600px;
  background-color: $white;
  margin-top: $mainGutter;
  left: -($doubleGutter + $mainGutter);
  color: $menuText;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.rightSideData {
  flex-flow: column nowrap;
  margin-top: $mainGutter;
  margin-right: $mainGutter;
  width: $halfMain;
}
.headerName {
  font-size: x-large;
}

.dataSection {
  font-size: small;
  margin-top: $halfGutter;
  margin-bottom: $halfGutter;
}

.model {
  width: 200px;
}

.customerAverage {
  margin-right: 5px;
}
.reviews {
  color: $secondary;
  margin-top: $halfGutter;
  margin-bottom: $mainGutter;
}

.productDescription {
  font-size: medium;
  height: 150px;
  margin-bottom: $halfGutter;
  overflow: auto;
  overflow-x: hidden;
}

.productSalePrice {
  font-size: 40pt;
  color: $secondary;
}

.savings {
  font-weight: 700;
  padding-right: $halfGutter;
}

.regularPrice {
  font-weight: 700;
  color: $grey;
}


$imageWidth: 500px;
$imageHeight: 300px;

.carouselContainer {
  flex: 5;
}

.carousel {
  box-sizing: border-box;
  max-width: $imageWidth - 120px;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.slideSection {
  max-width: 400px;
  width: 400px;
  justify-content: center;
}
.slide {
  justify-content: center;
}

.leftSideImage {
  transform: scale(0.65);

  // max-width: $imageWidth;
  // max-height: $imageHeight;
  // width: auto;
  // height: auto;
  margin: 10px;
}

.hideImage {
  display: none;
}

.showImage {
  display: contents;
}

.leftSideBox {
  margin: $mainGutter $mainGutter $mainGutter 130px;
  border: 2px solid $grey;
  width: $halfMain;
  height: $leftSideHeight;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.imageControls {
  display: none;
  position: absolute;
  align-content: center;
  width: $halfMain / 1.3;
  align-content: center;
  justify-content: space-between;
  color: grey;
}

.leftSideBox:hover .imageControls {
  display: flex;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% {opacity: 1;}
}
