/* You can add global styles to this file, and also import other style files */
@import "./constants/color.scss";
@import "./constants/gutters.scss";

.flex {
  display: flex;
}

.flexColumn {
  flex-flow: column nowrap;
}
.spaceBetween {
  justify-content: space-between;
}

body {
  background-color: $primary;
  color: $white;
  font: 400 12px Arial;
  margin-bottom: 0px;
}

.doubleGutterDrop {
  margin-top: $doubleGutter;
}

.mainGutterDrop {
  margin-top: $mainGutter;
}

.mainColumn {
  width: $mainGutter;
  min-width: $mainGutter;
  max-width: $mainGutter;
}

.doubleColumn {
  width: $doubleGutter;
  min-width: $doubleGutter;
  max-width: $doubleGutter;
}

.productTileDivder {
  border-top: 2px solid $grey;
}

.mainGutterSides {
  margin-left: $mainGutter;
  margin-right: $mainGutter;
}

.mainGutterRight {
  margin-right: $mainGutter;
}
