/* You can add global styles to this file, and also import other style files */
@import "./constants/color.scss";
@import "./constants/gutters.scss";
@import "./constants/sizing.scss";

.flex {
  display: flex;
}

.flexColumn {
  flex-flow: column nowrap;
}
.spaceBetween {
  justify-content: space-between;
}

body {
  background-color: $primary;
  color: $white;
  font: 400 12px Arial;
  margin-bottom: 0px;
}

.doubleGutterDrop {
  margin-top: $doubleGutter;
}

.mainGutterDrop {
  margin-top: $mainGutter;
}

.mainColumn {
  width: $mainGutter;
  min-width: $mainGutter;
  max-width: $mainGutter;
}

.doubleColumn {
  width: $doubleGutter;
  min-width: $doubleGutter;
  max-width: $doubleGutter;
}

.productTileDivder {
  border-top: 2px solid $grey;
}

.mainGutterSides {
  margin-left: $mainGutter;
  margin-right: $mainGutter;
}

.desktopOnly {
  display: block;
}

.mobileOnly {
  display: block;
}

.contentMain {
  margin: -8px auto 0;
//  width: $maxContentWidth;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .desktopOnly {display: none;}
  .mobileOnly {display: block;}
  .mainGutterSides {
    margin-left: $halfGutter;
    margin-right: $halfGutter;
  }
  .contentMain {
    margin: -8px -16px 0 -16px;
    //width: fit-content;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .desktopOnly {display: none;}
  .mobileOnly {display: block;}
  .mainGutterSides {
    margin-left: $halfGutter;
    margin-right: $halfGutter;
  }
  .contentMain {
    margin: -8px 0 0 -16px;
    //width: fit-content;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .desktopOnly {display: none;}
  .mobileOnly {display: block;}
  .contentMain {
    margin: -8px 0 0 -16px;
    //width: fit-content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .desktopOnly {display: block;}
  .mobileOnly {display: none;}
  .contentMain {
    margin: -8px auto 0;
    //width: fit-content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: $maxContentWidth) {
  .desktopOnly {display: block;}
  .mobileOnly {display: none;}
  .contentMain {
    margin: -8px auto 0;
    //width: $maxContentWidth;
  }}

// @media only screen and (min-width: 1400px) {
//   .desktopOnly {display: block;}
// }

// @media only screen and (min-width: 1600px) {
//   .desktopOnly {display: block;}
// }
