@import "../../../../constants/color.scss";
@import "../../../../constants/gutters.scss";
@import "../../../../constants/sizing.scss";

.homeMain {
  color: $white;
  flex-flow: column nowrap;
}

.carouselRegion {
  margin-top: 30px;
  flex-flow: column nowrap;
  gap: 20px;
}

.productCarouselDisplay {
  margin-left: $mainGutter+10px !important;
}

.productsCarouselTitle {
  margin-bottom: 30px;
  font-size: large;
}

.carousel {
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.lowerSection {
  &-primary {
    margin-top: $mainGutter;
    width: $maxPageWidth + $doubleGutter * 2;
    height: fit-content;
    position: relative;
    left: -$doubleGutter * 2;
  }

  &--mobile {
    //margin-top: $mainGutter;
    //width: 100%;
    //max-width: $maxPageWidth / 2;
    //min-width: auto;
    //height: fit-content;
    position: relative;
    justify-content: center;
  }
}
