@import "../../../../constants/color.scss";
@import "../../../../constants/gutters.scss";
@import "../../../../constants/sizing.scss";

$largeWidth: 250px;
$largeHeight: 60px;
$largeFontSize: 20px;

.buttonStyle {
  &-primary {
    position: 'relative';
    border: none;
  }

  &--redOval {
    background-color: $secondary;
    color: $white;
    border-radius: 30px;
  }

  &--whiteReg {
    background-color: $white;
    color: $menuText;
  }

  &--large {
    width: $largeWidth;
    height: $largeHeight;
    font-size: $largeFontSize;
  }

  &--smaller {
    width: $largeWidth * .9;
    height: $largeHeight * .9;
    font-size: $largeFontSize  * .9;
  }
}
